<div class="object-not-found container">
  <h1>{{"error.identifier" | translate}}</h1>
  <h2><small><em>{{missingItem}}</em></small></h2>
  <br />
  <p class="text-center">
    <a routerLink="/home" class="btn btn-primary">{{"404.link.home-page" | translate}}</a>
  </p>
</div>
