<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <div class="row" style="background: #0B1A4A; width: 100%; padding: 5px 0 5px 0; background-image: url('assets/images/footer-bgs2');">
      <div class="container">
        <div style="font-size: 16px;padding-top: 10px; padding-left: 0px;">
          <h6 style="color: #FFFF">MÓDULO DE GESTIÓN DEL CONOCIMIENTO
          </h6>
        </div>
      </div>
    </div>
    <div class="row" style="background: #39c00a; width: 100.8%; height: 0.2rem"> </div>

    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">

          <!-- Row Logotipos -->
          <div class="row">

            <div class="col-6">
              <img src="assets/images/logo-nav-02.png" alt="Logo" class="img-fluid"
                style="width: 100px; height: auto; object-fit: contain;">

              <img src="assets/images/modulo-kms-white.png" alt="Logo" class="img-fluid"
                style="width: 100px; height: auto; object-fit: contain; margin-top: 8px;">
            </div>

            <div class="col-6">
              
            </div>

          </div>
          <!-- End Row Logotipos -->
          <!-- Row nombres
          <div id="row-nombres" class="row">
            <div class="col-6">
              <p>SIT-R13</p>
            </div>
            <div class="col-6">
              <p>Módulo Gestión del Concimiento</p>
            </div>
          </div> -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-md-6 mb-4 mb-lg-0">
          <p>Teléfono: <a style="color: #ffcc00;" href="#"> (+504)2780-5900 Ext.2000-39</a></p><br>
          <p>Dirección: <a>Km 5 salida a San Marcos de Colón, desvío a la derecha frente a
              Residencial Anda Lucía.</a></p><br>
          <p>E-mail: <a style="color: #ffcc00;" href="mailto:sitr13@unah.edu.hn">sitr13@unah.edu.hn</a></p>
        </div>
        <!--End Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          <div id="redes-sociales" class="embed-responsive-item container" style="padding-top: 1%; text-align: right;">
            <a href="#"><img width="35px" src="assets/images/redes-01.svg" onmouseover="this.src='assets/images/redes-bg-white-01.svg';"
                onmouseleave="this.src='assets/images/redes-01.svg';"></a>

            <a href="#"><img src="assets/images/redes-02.svg" width="35px" onmouseover="this.src='assets/images/redes-bg-white-02.svg';"
                onmouseleave="this.src='assets/images/redes-02.svg';"></a>

            <a href="#"><img src="assets/images/redes-03.svg" width="35px" onmouseover="this.src='assets/images/redes-bg-white-03.svg';"
                onmouseleave="this.src='assets/images/redes-03.svg';"></a>

            <a href="https://www.youtube.com/channel/UCaB-U47Ddr1I6dQddGygmbw" target="_blank"><img
                src="assets/images/redes-04.svg" width="35px" onmouseover="this.src='assets/images/redes-bg-white-04.svg';"
                onmouseleave="this.src='assets/images/redes-04.svg';"></a>

          </div>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white" style="padding-bottom: 3%;">
    <div id="copy" class="content-container">
      <p class="m-0">
        Derechos reservados
        <a class="text-white" href="https://curlp.unah.edu.hn/">UNAH - CURLP</a>
        &copy; 2021
      </p>
      <p class="m-0">
        Desarrollado por la
        <a class="text-white" href="https://curlp.unah.edu.hn/">Dirección Ejecutiva de Gestión de Tecnología</a>
      </p>
      
    </div>
  </div>
  <!-- Copyright -->
</footer>