:host {
  footer {
    background-color: #0B1A4A;
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
      color: white;
      text-align: left;
    }

    a {
      color: white;
    }

    #row-nombres, #copy p {
      text-align: center;
      color: white;
      font-size: var(--ds-footer-font-size);
      font-weight: var(--ds-footer-font-weight);
    }



    div > img {
      height: var(--ds-footer-logo-height);
    }


    .top-footer {
      background-color: #0B1A4A;
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .bottom-footer {
      ul {
        li {
          display: inline-flex;

          a {
            padding: 0 calc(var(--bs-spacer) / 2);
            color: inherit
          }

          &:not(:last-child) {
            &:after {
              content: '';
              border-right: 1px var(--bs-secondary) solid;
            }

          }
        }
      }
    }
  }

}


