<ds-item-detail-preview [item]="item"
                        [object]="object"
                        [status]="status"></ds-item-detail-preview>

<ds-workspaceitem-actions [object]="dso"></ds-workspaceitem-actions>
