<ng-container *ngIf="item$ | async">
  <ds-item-list-preview
    [item]="item$ | async"
    [object]="object"
    [status]="status"></ds-item-list-preview>

  <ds-workflowitem-actions [object]="dso" (processCompleted)="reloadedObject.emit($event.reloadedObject)"></ds-workflowitem-actions>
</ng-container>
<ds-loading
  *ngIf="!(item$ | async)"
  [showMessage]="false"></ds-loading>
