<div class="submission-submit-container" >
  <ds-submission-form [collectionId]="collectionId"
                      [sections]="sections"
                      [selfUrl]="selfUrl"
                      [submissionDefinition]="submissionDefinition"
                      [submissionErrors]="submissionErrors"
                      [item]="item"
                      [submissionId]="submissionId"></ds-submission-form>
</div>
