:host .facet-filter {
  border: 1px solid var(--bs-light);
  cursor: pointer;

  .sidebar-filter-wrapper.closed {
    overflow: hidden;
  }

  .filter-toggle {
    line-height: var(--bs-line-height-base);
  }
}
