form {
    &:before {
        pointer-events: none; // prevent the icon from ‘catching‘ the click
        position: absolute;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        content: "\f0d7";
        top: 7px;
        right: 0;
        height: 20px;
        width: 20px;
    }

    input.suggestion_input {
        background: transparent;
    }
}
