<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h2 id="sub-header"
                class="border-bottom mb-2">{{ 'admin.registries.bitstream-formats.create.new' | translate }}</h2>

            <ds-bitstream-format-form (updatedFormat)="createBitstreamFormat($event)"></ds-bitstream-format-form>

        </div>
    </div>
</div>