<div *ngIf="registryService.getActiveMetadataSchema() | async; then editheader; else createHeader"></div>

<ng-template #createHeader>
    <h4>{{messagePrefix + '.create' | translate}}</h4>
</ng-template>

<ng-template #editheader>
    <h4>{{messagePrefix + '.edit' | translate}}</h4>
</ng-template>

<ds-form [formId]="formId"
         [formModel]="formModel"
         [formGroup]="formGroup"
         [formLayout]="formLayout"
         (cancel)="onCancel()"
         (submitForm)="onSubmit()">

</ds-form>
