<!-- <a *ngIf="linkType != linkTypes.None" [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'"
    rel="noopener noreferrer" [routerLink]="['/communities/' + object.id]" class="lead">
    {{object.name}}
</a>
<span *ngIf="linkType == linkTypes.None" class="lead">
    {{object.name}}
</span>
<div *ngIf="object.shortDescription" class="text-muted abstract-text">
    {{object.shortDescription}}
</div> -->

<div class="card">
    <div class="card-body">
        <a class="card-title" *ngIf="linkType != linkTypes.None"
            [target]="(linkType == linkTypes.ExternalLink) ? '_blank' : '_self'" rel="noopener noreferrer"
            [routerLink]="['/communities/' + object.id]" class="lead">{{object.name}}</a>
        <p class="card-text" *ngIf="object.shortDescription">{{object.shortDescription}}</p>
        <a [routerLink]="['/communities/' + object.id]" class="btn btn-primary estilo-boton">Acceder</a>
    </div>
</div>