<ds-loading *ngIf="isLoading" message="Loading..."></ds-loading>
<ds-form *ngIf="!isLoading && formModel" #formRef="formComponent"
         [formId]="formId"
         [formModel]="formModel"
         [displaySubmit]="false"
         [displayCancel]="false"
         (dfChange)="onChange($event)"
         (dfFocus)="onFocus($event)"
         (remove)="onRemove($event)"
         (ngbEvent)="onCustomEvent($event)"
         (removeArrayItem)="onRemove($event)"></ds-form>
