.btn[disabled] {
    color: var(--bs-gray-600);
    border-color: var(--bs-gray-600);
    z-index: 0; // prevent border colors jumping on hover
}

.metadata-field {
    width: var(--ds-edit-item-metadata-field-width);
}

.language-field {
    width: var(--ds-edit-item-language-field-width);
}
