@import '../../node_modules/bootstrap/scss/mixins.scss';

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@mixin dark-scrollbar() {
    &::-webkit-scrollbar {
        width: 8px;
        height: 3px;
    }
    &::-webkit-scrollbar-button {
        background-color: var(--ds-dark-scrollbar-bg);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--ds-dark-scrollbar-alt-bg);
    }
    &::-webkit-scrollbar-track-piece {
        background-color: var(--ds-dark-scrollbar-bg);
    }
    &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: var(--ds-dark-scrollbar-fg);
        border-radius: 3px;
    }
    &::-webkit-scrollbar-corner {
        background-color: var(--ds-dark-scrollbar-alt-bg);
    }
    &::-webkit-resizer {
        background-color: var(--ds-dark-scrollbar-bg);
    }
}
