.dropdown-toggle::after {
  display:none;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .dropdown-toggle {
    color: var(--ds-header-icon-color) !important;

    &:hover, &focus {
      color: var(--ds-header-icon-color-hover);
    }
  }
}
