<div class="container">
  <h2 id="header">{{'admin.metadata-import.page.header' | translate}}</h2>
  <p>{{'admin.metadata-import.page.help' | translate}}</p>

  <ds-file-dropzone-no-uploader
    (onFileAdded)="setFile($event)"
    [dropMessageLabel]="'admin.metadata-import.page.dropMsg'"
    [dropMessageLabelReplacement]="'admin.metadata-import.page.dropMsgReplace'">
  </ds-file-dropzone-no-uploader>

  <button class="btn btn-secondary" id="backButton"
          (click)="this.onReturn();">{{'admin.metadata-import.page.button.return' | translate}}</button>
  <button class="btn btn-primary" id="proceedButton"
          (click)="this.importMetadata();">{{'admin.metadata-import.page.button.proceed' | translate}}</button>
</div>
