#mirador-viewer {
  border: 1px solid #dee2e6;
  height: 660px;
  width: 100%
}
.full-text-op {
  text-align: right;
  color: #333333;
  font-size: 0.8em;
}
p.full-text-op {
  margin-bottom: 0;
}
