<ds-item-detail-preview [item]="dso"
                        [object]="object"
                        [status]="status">
</ds-item-detail-preview>

<ds-item-actions [object]="dso"></ds-item-actions>


