<div class="modal-header">
  <h2>{{'submission.import-external.preview.title.' + labelPrefix | translate}}</h2>
  <button type="button" class="close"
          (click)="closeMetadataModal()" aria-label="Close">
      <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>{{'submission.import-external.preview.subtitle' | translate}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div *ngFor="let metadata of metadataList" class="row">
      <div class="col-md-12">
        <strong>{{'item.preview.' + metadata.key | translate}}</strong>
        <p>{{metadata.value.value}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-success" (click)="import()" role="button">
          <i class="fa fa-file-import" aria-hidden="true"></i> {{'submission.import-external.preview.button.import' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
