@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.row-with-sidebar {

  &.row-offcanvas {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    display: flex;
  }

  @include media-breakpoint-down(sm) {
    position: relative;

    &.row-offcanvas {
      position: relative;
    }

    &.row-offcanvas-right .sidebar-content {
      right: -100%;
    }

    &.row-offcanvas-left .sidebar-content {
      left: -100%;
    }

    .sidebar-content {
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .sidebar-content {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: var(--bs-zindex-sticky);
    padding-top: var(--ds-content-spacing);
    margin-top: calc(-1 * var(--ds-content-spacing));
    align-self: flex-start;
    display: block;
  }
}
