// temporary fix for bootstrap 4 beta btn color issue
.btn-secondary {
  background-color: var(--bs-input-bg);
  color: var(--bs-input-color);
}

.scope-button {
  max-width: var(--ds-search-form-scope-max-width);
}
