.list-item:active {
  color: white !important;
}

.scrollable-menu {
  height: auto;
  max-height: var(--ds-dropdown-menu-max-height);
  overflow-x: hidden;
}

.entity-item {
  border-bottom: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}

#entityControlsDropdownMenu {
  outline: 0;
  left: 0 !important;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
