<div class="container" *ngVar="item$ | async as item">
    <h2>{{'workflow-item.' + type + '.header' | translate}}</h2>
    <ds-modify-item-overview *ngIf="item" [item]="item"></ds-modify-item-overview>
    <button class="btn btn-default" (click)="previousPage()">{{'workflow-item.' + type + '.button.cancel' | translate}}</button>
    <button class="btn btn-danger" (click)="performAction()">{{'workflow-item.' + type + '.button.confirm' | translate}}</button>
</div>
