<ds-item-detail-preview [item]="item"
                        [object]="object"
                        [status]="status"></ds-item-detail-preview>

<ds-workflowitem-actions [object]="dso"></ds-workflowitem-actions>

