.modal-footer {
    justify-content: space-between;
}

/* Render child-modals slightly smaller than this modal to avoid complete overlap */
:host {
  ::ng-deep .modal-content {
    width: 90%;
    margin: 5%;
  }

  .spinner-border{
    vertical-align: middle;
  }
}

.buttons-container{
  display: flex;
  .close-button{
    margin-right: 5px;
  }
}