input[type="text"] {
  margin-top: calc(-0.5 * var(--bs-font-size-base));

  &:focus {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }

  &.collapsed {
    opacity: 0;
  }
}

a.submit-icon {
  cursor: pointer;
  position: sticky;
  top: 0;
}

@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .query:focus {
    max-width: 250px !important;
    width: 40vw !important;
  }

  a.submit-icon {
    color: var(--bs-link-color);
  }
}

