<ds-item-list-preview [item]="dso"
                      [object]="object"
                      [status]="status"></ds-item-list-preview>

<ds-item-actions [object]="dso" (processCompleted)="reloadedObject.emit($event.reloadedObject)"></ds-item-actions>
