nav.navbar {
  border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  border-bottom: 5px var(--bs-green) solid;
  align-items: baseline;
  color: var(--ds-header-icon-color);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .navbar {
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    > .container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand img {
  max-height: var(--ds-header-logo-height);
}

.navbar-nav {
  ::ng-deep a.nav-link {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
  }
  ::ng-deep a.nav-link:hover {
    color: #39C00A;
  }
  ::ng-deep .dropdown-menu {
    background-color: #39C00A;
  }

  ::ng-deep .dropdown-menu a.nav-link:hover {
    background-color: #0B1A4A;
  }
}
