.dropdown-toggle::after {
  display:none
}

:host ::ng-deep .dropdown-menu {
  left: 0 !important;
  width: 100% !important;
  max-height: var(--ds-dropdown-menu-max-height);
  overflow-y: auto !important;
  overflow-x: hidden;
}

:host ::ng-deep .dropdown-item.active,
:host ::ng-deep .dropdown-item:active,
:host ::ng-deep .dropdown-item:focus,
:host ::ng-deep .dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color) !important;
  background-color: var(--bs-dropdown-link-hover-bg) !important;
}

div {
  overflow: visible;
}

.lookup-item {
  border-bottom: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
}
